body{
	margin: 0;
	font-family: "Segoe UI";
}

div#map{
	position: absolute;
	top:0;
	bottom:0;
	width:100%;
	background-color: #fff
}


#slider-min, #slider-max, #slider-container{
	position: absolute;
	left:10px;
	width: 26px;
}


#slider-min, #slider-max, #slider-ui .ui-slider-handle, .ui-slider, .ui-spinner{
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	background: #fff;
	border: none;
	border-radius: 4px;
}

#slider-min,#slider-max{
	left: 7px;
	width: 30px;
	height: 13px;
	padding: 2px;
	font-size: 12px;
}
#slider-max{
	top:80px;
}
#slider-min{
	bottom: 82px;   /*54 before*/
}
#spinner-container{
        position: absolute;
	left: 7px;
	height: 15px;
	width: 46px;
        bottom: 56px;
}
.ui-spinner{
	margin: 0px 0px 2px 0px;
	padding: 2px;
	width: 46px;
	height: 13px;
}
#spinner-ui{
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 13px;
	vertical-align: top;
}
#slider-container{
	top: 112px;
	bottom: 110px;
}

#slider-ui{
	height: 100%;
	width: 10px;
}

#slider-ui .ui-slider-handle{
	width: 32px;
	height: 13px;
	padding: 2px;
	background: #fff;
	border: none;
	font-size: 12px;
}

#create-container{
	position: absolute;
	top: 10px;
	right: 10px;
}


#inspector, .bigbox{
	position: absolute;
	right: 0;
	top: 0;
	left: 66%;
	bottom: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	background: #fff;
	border: none;
	overflow-y: auto;
	padding: 10px;
}
.creator-item{
	position: relative;
	width: 100%;
	margin-top: 20px;
	/*background: #faa;*/
	padding: 2px;
	clear: both;
}
.creator-item-left{
	position: relative;
	width: 35%;
	float: left;
	font-size: 2em;
	text-align: center
}
.creator-item-right{
	/*position: relative;*/
	display: table-cell;
	width: 60%;
	margin-right: 5%; 
	float: right;
	font-size: 1.2em;
	vertical-align: middle;
}
.creator-item-right .overflow {
	height: 200px;
}
.creator-item-right input {
	padding: 0.4em 1em;
	font-size: 1em;
}
.creator-item-right textarea {
	font-size: 1em;
	width: 100%;
}
.creator-item-right button {
	padding: 0.4em 1em;
	font-size: 1em;
}


.editing {
	position: absolute;
	right:10px;
	top: 10px;
	width: 30%;
	min-width: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	background: #fff;
	border: none;
	border-radius: 4px;
	padding: 2px;
	font-size: 1em
}

#hidebox{
	position: absolute;
	top: 10px;
	right: 10px;
}


#inspector h1{
	font-size: 1.6em;
	font-weight: normal
}
#inspector h1 .type{
	font-weight: lighter
}
#inspector h2{
	font-size: 1.6em;
	font-weight: lighter;
	font-style: italic;
}


#inspector table{
	width: 100%;
	border-collapse: collapse;
}
#inspector td{
	padding: 4px;
	border-bottom: solid 1px;
	vertical-align: top;
}
#inspector .key{
}
#inspector .date{
}
#inspector .value{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#inspector .bounds{
	color: #CCC;
}
#inspector .source{
	text-align: right
}
