<?php

// change the variables and rename to config.php

//////////////////////////////////////////////////////////////
// SETUP
// setup to connect to the postgis database
//////////////////////////////////////////////////////////////

$settings_host = 'localhost';
$settings_port = '5432';
$settings_dbname = 'database';
$settings_user = 'postgres';
$settings_pass = 'postgres';